<ion-header [translucent]="true">
  <ion-toolbar style="--background: #75c4ff;text-align: center;color: white;">
    <ion-title>
      Live Location
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content> -->

<ion-content padding>
  <div #map id="map"></div>
  <div *ngFor="let loop of latlngValue" style="padding: 10px;">
    Latitude : {{loop.latValue}}
    <br> Longitude : {{loop.lngValue}}
    <br> Battery Level : {{loop.batLevel}} %
    <br> Time : {{loop.time}}
  </div>
</ion-content>